<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<h4>Completed Achievements</h4>
	<%= render :partial => "completed_achievement", :collection => @completed_achievemnts %>
	
	
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
